* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav {
    margin-bottom: 1rem;
}

nav>div>.hospital_search {
    margin-right: 0.5rem;
    width: max-content;
}

nav>div>.patient_search {
    margin-right: auto;
    /* margin-left: -40rem; */
}

.userQueryForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.userQueryForm>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userQueryForm>h3 {
    display: block;
    margin: auto;
}


.queryResponseTable {
    width: 95vw;
    margin: auto;
}

.menuGrid {
    display: grid;
    row-gap: 5rem;
    margin-top: 4rem;
    align-items: center;
}

.menuGrid>.row {
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

#main_card {
    border-radius: 20px;
}

.card-body {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0058b5;
    border-radius: 20px;
}

.menuGrid>.row>div>div>div>h5 {
    text-align: center;
    font-weight: bold;
}

.menuGrid>.row>div>div>div>h5>a {
    color: #f3eff5;
    text-decoration: none;
}

.menuGrid>.row>div>div {
    border:none;
}
