<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='newPatientStyle.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>New Patient</title>
</head>

<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">BloodBank</a>
            <a href="{{ url_for('hospital_search') }}" class="hospital_search">Goto Hospital</a>
            <a href="{{ url_for('patient_search') }}" class="patient_search">Goto Patient</a>
            <form class="d-flex" role="search" action="{{ url_for('handle_query') }}" method="POST">
                <input name="user_query" id="user_query" class="form-control me-2" type="search"
                    placeholder="Enter Query" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Execute</button>
            </form>
        </div>
    </nav>

    <div class="newPatientForm">
        <form action="{{ url_for('get_updated_patient_details') }}" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="first_name">First Name</label>
                    <input value="{{value['details'][0][0]}}" type="text" name="pid" hidden>
                    <input value="{{value['details'][0][1]}}" type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <label for="last_name">Last Name</label>
                    <input value="{{value['details'][0][2]}}" type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name"
                        required>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="age">Age</label>
                <input value="{{value['details'][0][3]}}" type="number" class="form-control" name="age" id="age" placeholder="Age" required>
            </div>
            <div class="form-group col-md-6">
                <label for="blood_group">Blood group</label><br>
                <select value="{{value['details'][0][4]}}" class="form-select" name="blood_group" id="blood_group" required>
                    <option value="none" selected disabled hidden>Select a Blood Group</option>
                    <option value="A+">A-POSITIVE</option>
                    <option value="A-">A-NEGATIVE</option>
                    <option value="B+">B-POSITIVE</option>
                    <option value="B-">B-NEGATIVE</option>
                    <option value="O+">O-POSITIVE</option>
                    <option value="O-">O-NEGATIVE</option>
                    <option value="AB+">AB-POSITIVE</option>
                    <option value="AB-">AB-NEGATIVE</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="phone">Phone</label>
                <input value="{{value['details'][0][5]}}" type="tel" class="form-control" name="phone" id="phone" placeholder="Phone Number" required>
            </div>
            <div class="form-group col-md-6">
                <label for="building_no">Building No.</label>
                <input value="{{value['addr'][0][1]}}" type="tel" class="form-control" name="building_no" id="building_no" placeholder="Building No."
                    required>
            </div>
            <div class="form-group col-md-6">
                <label for="street_name">Street Name</label>
                <input value="{{value['addr'][0][2]}}" type="text" class="form-control" name="street_name" id="street_name" placeholder="Street Name"
                    required>
            </div>
            <div class="form-group col-md-6">
                <label for="city">City</label>
                <input value="{{value['addr'][0][3]}}" type="text" class="form-control" name="city" id="city" placeholder="City" required>
            </div>
            <div class="form-group col-md-6">
                <label for="state_id">State</label>
                <input value="{{value['addr'][0][5]}}" type="text" class="form-control" name="state_id" id="state_id" placeholder="State" required>
            </div>
            <div class="form-group col-md-6">
                <label for="zipcode">Zipcode</label>
                <input value="{{value['addr'][0][4]}}" type="tel" class="form-control" name="zipcode" id="zipcode" placeholder="Zipcode" required>
            </div>

            <button style="width: 5rem;margin-right: auto;" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>